[Unit]
Description=Collect invalid login attempts from log files
After=multi-user.target
Conflicts=getty@tty1.service
[Service]
Type=simple
Restart=always
ExecStart= /home/bernd/bin/.venv/bin/python3 /home/bernd/bin/collectAttack.py
StandardInput=tty-force
[Install]
WantedBy=multi-user.target
